body {
    background-color: #333;
    font-family: sans-serif;
    color: #ddd;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 120px;
}

.header .logo img {
    height: 50px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 24px;
    margin-right: 80px;
    color: #333;
}

main {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: rgba(169, 169, 169, 0.274);
}

.project a {
    color: yellow;
}

.project a:visited {
    color: lime;
}


footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    
}

.contact a {
    color: yellow;
}